<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/cal_bmr.css">
    <link href="https://fonts.googleapis.com/css?family=Itim|Lobster|Montserrat|Roboto|Roboto+Slab" rel="stylesheet">
    <title>Tính calo</title>
</head>
<body>
    <div class="headder-top">
        <!-- nav -->
        <nav>
            <div id="logo">
            <h1>
                <a href="/">E2F</a>
            </h1>
            </div>
            <div class="sub-headder position-relative">
            <h6>
                <a href="/">EAT 2 FIT
                <br>Kitchen</a>
            </h6>
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
            
            
            
            <li>
                <!-- First Tier Drop Down -->
                <!--<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                </label>
                <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                <input type="checkbox" id="drop-2">
                <ul>
                    <li><a href="gallery.html" class="drop-text">Gallery</a></li>
                    <li><a href="menu.html" class="drop-text">Menu</a></li>
                    <li><a href="recipe.html" class="drop-text">Recipes</a></li>
                </ul>
                </li>-->
                
                
            </ul>
        </nav>
        <!-- //nav -->
    </div>
            <!-- //header -->
    <div class="container">
        <div class="form">
            <div class="cd">
                <label for="">Giới tính:</label>
                <i class="fas fa-mars"></i>
                <input type="radio" name="gender" value="male" checked>Nam
                <i class="fas fa-venus"></i>
                <input type="radio" name="gender" value="female">Nữ
            </div>
            <div class="cd">
                <label for="" class="text">Chiều cao của bạn (cm):</label>
                <input type="text" id="height" class="text">
            </div>
            <div class="cd">
                <label for="" class="text">Cân nặng của bạn (kg):</label>
                <input type="text" id="weight" class="text">
            </div>
            <div class="cd">
                <label for="" class="text">Tuổi của bạn:</label>
                <input type="text" id="age" class="text">
            </div>
            <div class="cd">
                <label for="">Bạn vận động thế nào?</label>
                <br>
                <input type="radio" name="cuongdo" value="1.2" checked>Ít vận động (ít hoặc không tập thể dục)
                <br>
                <input type="radio" name="cuongdo" value="1.375">Tập thể dục nhẹ 1-3 ngày/tuần
                <br>
                <input type="radio" name="cuongdo" value="1.45">Tập thể dục vừa phải 3-5 ngày/tuần
                <br>
                <input type="radio" name="cuongdo" value="1.75">Tập thể dục nặng 6-7 ngày/tuần
                <br>
                <input type="radio" name="cuongdo" value="1.95">Tập thể dục rất nặng cả tuần
            </div>
            <button id="calculate">Bắt đầu tính</button>
            <div class="result">
                <p id="result"></p>
            </div>
        </div>
    </div>
    


    <script src="../static/js/cal_bmr.js" type="text/javascript"></script>
</body>
</html>